# virtual environment
venv310/
env/
.venv/

# Python cache / artifacts
__pycache__/
*.py[cod]
*.so

# IDE / OS
*.swp
.DS_Store

# TensorFlow / model checkpoints you don’t want versioned (if too big)
*.ckpt


# uploads / runtime artifacts (unless you intentionally want to keep some)
static/uploads/